certifi==2021.5.30
click==8.0.4
colorama==0.4.5
dataclasses==0.8
flashtext==2.7
Flask==2.0.3
Flask-Cors==3.0.10
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1603480701039/work
olefile==0.46
Pillow @ file:///C:/ci/pillow_1625663293114/work
pydub==0.25.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
SpeechRecognition==3.8.1
torch==1.6.0
torchvision==0.7.0
typing_extensions==4.1.1
Werkzeug==2.0.3
wincertstore==0.2
zipp==3.6.0
